body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.empty-space{
  height: 400px;
}
@import "partials/header";
@import "partials/nav";
@import "partials/slider";
@import "partials/content";
@import "partials/castList";
@import "partials/castDetails";
@import "partials/dropdown";
@import "partials/movies";
@import "partials/placeholder";

