
/* header styling*/
.movie-header{
  background: #66800D;
  color: #fff;
  padding: 16px;
  border-bottom: 1px solid #90a15d;
}

.movie-header_name{
    font-size: 16px;
    margin: 0;
    display: inline-block;
}

.movie-header_moreLinks{
    float: right;
    color: #fff;
    background: none;
    border:0;
}

.movie-header_info{
  font-size: 12px;
  color: rgba(255,255,255,.7);
  margin-top: 8px;
}

