.slider{
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 8px;
  box-sizing: border-box;
  img{
    height: 200px;
    border-radius: 3px;
  }
}
.img-overlay{
  position: absolute;
  z-index: 104;
  background: rgba($color: #fff, $alpha: 0.9);
  top: 0;
  bottom: 0;
  width: 100%;  
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
  opacity: 1;
  &.active-img{
    visibility: visible;
    animation-name: zoomIn;
  }
  &.active-img_out{
    animation-name: zoomOut;
  }
 
  img{
    width: 100%;
  }
}
.overlay-close{
  position: absolute;
  z-index: 101;
  top: 16px;
  left:16px;
  background: rgba($color: #000, $alpha: 0.8);
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  padding: 4px;
}


@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}


.castDetails-actor_slider{
  padding: 0;
  text-align: left;
  
  img{
    margin-left: -4px;
    border-radius: 0;
    animation-name: fadeInRight;
    animation-duration: .7s;
    animation-fill-mode: both;

  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}