.slider{
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 8px;
  box-sizing: border-box;
  img{
    height: 200px;
    border-radius: 3px;
  }
}
.img-overlay{
  position: absolute;
  z-index: 100;
  background: rgba($color: #fff, $alpha: 0.9);
  top: 0;
  bottom: 0;
  width: 100%;
  display: none;
  &.active-img{
    display: block;
  }
  img{
    width: 100%;
  }
}
.overlay-close{
  position: absolute;
  z-index: 101;
  top: 16px;
  left:16px;
  background: rgba($color: #000, $alpha: 0.8);
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  padding: 4px;
}

.empty-space{
  height: 2000px;
}