.slider{
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 8px;
  box-sizing: border-box;
  img{
    height: 200px;
    border-radius: 3px;
  }
}
.img-overlay{
  position: absolute;
  z-index: 100;
  background: rgba($color: #fff, $alpha: 0.9);
  top: 0;
  bottom: 0;
  width: 100%;
  // display: none;
  // -webkit-animation-name: fadeIn;
  
  // -webkit-animation-duration: .5s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
  opacity: 1;
  &.active-img{
    visibility: visible;
    animation-name: zoomIn;
  }
  &.active-img_out{
    animation-name: zoomOut;
  }
 
  img{
    width: 100%;
  }
}
.overlay-close{
  position: absolute;
  z-index: 101;
  top: 16px;
  left:16px;
  background: rgba($color: #000, $alpha: 0.8);
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  padding: 4px;
}

.empty-space{
  height: 200px;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
