/* line 1, ../sass/app.scss */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* line 5, ../sass/app.scss */
.empty-space {
  height: 400px;
}

/* header styling*/
/* line 3, ../sass/partials/_header.scss */
.movie-header {
  background: #66800D;
  color: #fff;
  padding: 16px;
  border-bottom: 1px solid #90a15d;
}

/* line 10, ../sass/partials/_header.scss */
.movie-header_name {
  font-size: 16px;
  margin: 0;
  display: inline-block;
}

/* line 16, ../sass/partials/_header.scss */
.movie-header_moreLinks {
  float: right;
  color: #fff;
  background: none;
  border: 0;
}
/* line 21, ../sass/partials/_header.scss */
.movie-header_moreLinks .material-icons {
  pointer-events: none;
}

/* line 26, ../sass/partials/_header.scss */
.movie-header_info {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 8px;
}

/* line 1, ../sass/partials/_nav.scss */
.movie-topNav {
  background: #566c17;
  padding: 0 16px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
  position: relative;
}

/* line 7, ../sass/partials/_nav.scss */
.movie-topNav_link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 12px;
  padding: 0 8px;
  text-transform: uppercase;
}

/* line 19, ../sass/partials/_nav.scss */
.nav_activeLink {
  color: #fff;
}

/* line 23, ../sass/partials/_nav.scss */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 102;
}

/* line 29, ../sass/partials/_nav.scss */
.sticky + section {
  padding-top: 100px;
}

/* line 33, ../sass/partials/_nav.scss */
.navbar-indecator {
  height: 3px;
  background: #fff;
  min-width: 20px;
  position: absolute;
  bottom: 0;
  z-index: 101;
  left: 0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

/* line 45, ../sass/partials/_nav.scss */
.tab-content {
  display: none;
  margin-top: 16px;
}

/* line 49, ../sass/partials/_nav.scss */
.tab_active {
  display: block;
}

/* line 1, ../sass/partials/_slider.scss */
.slider {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 8px;
  box-sizing: border-box;
}
/* line 7, ../sass/partials/_slider.scss */
.slider img {
  height: 200px;
  border-radius: 3px;
}

/* line 12, ../sass/partials/_slider.scss */
.img-overlay {
  position: absolute;
  z-index: 104;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  bottom: 0;
  width: 100%;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
  opacity: 1;
}
/* line 24, ../sass/partials/_slider.scss */
.img-overlay.active-img {
  visibility: visible;
  animation-name: zoomIn;
}
/* line 28, ../sass/partials/_slider.scss */
.img-overlay.active-img_out {
  animation-name: zoomOut;
}
/* line 32, ../sass/partials/_slider.scss */
.img-overlay img {
  width: 100%;
}

/* line 36, ../sass/partials/_slider.scss */
.overlay-close {
  position: absolute;
  z-index: 101;
  top: 16px;
  left: 16px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  padding: 4px;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
/* line 77, ../sass/partials/_slider.scss */
.castDetails-actor_slider {
  padding: 0;
  text-align: left;
}
/* line 81, ../sass/partials/_slider.scss */
.castDetails-actor_slider img {
  margin-left: -4px;
  border-radius: 0;
  animation-name: fadeInRight;
  animation-duration: .7s;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* line 1, ../sass/partials/_content.scss */
.movie-content {
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  min-height: 100px;
  margin: 8px;
}

/* line 8, ../sass/partials/_content.scss */
.movie-content_rating {
  display: flex;
  border-bottom: 1px solid #e1e1e3;
}

/* line 12, ../sass/partials/_content.scss */
.movie-content__source {
  padding: 16px;
  flex-grow: 2;
  border-right: 1px solid #e1e1e3;
}
/* line 16, ../sass/partials/_content.scss */
.movie-content__source:last-child {
  border-right: 0;
}

/* line 20, ../sass/partials/_content.scss */
.movie-content__link {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  text-decoration: none;
  font-size: 12px;
}
/* line 25, ../sass/partials/_content.scss */
.movie-content__link span {
  display: block;
  color: #1967D2;
  margin-top: 4px;
}

/* line 32, ../sass/partials/_content.scss */
.movie-content_description {
  border-bottom: 1px solid #e1e1e3;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
}

/* line 38, ../sass/partials/_content.scss */
.movie-detailswraper {
  display: none;
}
/* line 40, ../sass/partials/_content.scss */
.movie-detailswraper.open {
  display: block;
}

/* line 44, ../sass/partials/_content.scss */
.movie-deatils {
  padding: 0;
}
/* line 46, ../sass/partials/_content.scss */
.movie-deatils li {
  display: block;
  margin-bottom: 4px;
}
/* line 49, ../sass/partials/_content.scss */
.movie-deatils li span {
  color: #70757A;
}

/* line 55, ../sass/partials/_content.scss */
.movie-footer {
  font-size: 16px;
}
/* line 59, ../sass/partials/_content.scss */
.movie-footer a {
  color: #1967D2;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 36px;
  padding: 8px;
}
/* line 67, ../sass/partials/_content.scss */
.movie-footer a i {
  font-size: 16px;
}

/* line 1, ../sass/partials/_castList.scss */
.movie-cast {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4px 8px;
}

/* line 7, ../sass/partials/_castList.scss */
.movie-cast_actor {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  flex-grow: 1;
  margin: 8px 4px 0;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  width: 100px;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 19, ../sass/partials/_castList.scss */
.movie-cast_actor a {
  text-decoration: none;
  padding-bottom: 12px;
  display: block;
  height: 100%;
}
/* line 25, ../sass/partials/_castList.scss */
.movie-cast_actor > div {
  width: 100%;
  height: 100px;
  background: red;
  overflow: hidden;
}
/* line 32, ../sass/partials/_castList.scss */
.movie-cast_actor img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* line 39, ../sass/partials/_castList.scss */
.movie-cast_actorname {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  margin: 8px 8px 4px 8px;
}

/* line 45, ../sass/partials/_castList.scss */
.movie-cast_caractername {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  margin: 0 8px;
}

/* line 1, ../sass/partials/_castDetails.scss */
.castDetails {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 102;
  display: none;
}
/* line 10, ../sass/partials/_castDetails.scss */
.castDetails.open {
  display: block;
}

/* line 15, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}
/* line 20, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper .castDetails-heder_wraper {
  position: fixed;
  z-index: 107;
  top: 0;
  width: 100%;
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}
/* line 29, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper .castDetails-heder_wraper + .castDetails-tab-content {
  padding-top: 114px;
}
/* line 32, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper .castDetails-heder_wraper + .castDetails-tab-content .tab-content:first-child.animated {
  animation-name: slideInRight;
  animation-duration: .4s;
}
/* line 36, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper .castDetails-heder_wraper + .castDetails-tab-content .tab-content:last-child {
  animation-name: slideInLeft;
  animation-duration: .4s;
}
/* line 42, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper .castDetails-heder_wraper header {
  border-bottom-color: #2f4975;
  background-color: #2f4975;
  display: flex;
  flex-wrap: wrap;
}
/* line 47, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper .castDetails-heder_wraper header > div {
  flex-grow: 16;
}
/* line 49, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper .castDetails-heder_wraper header > div:first-child {
  flex-grow: 1;
}
/* line 51, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper .castDetails-heder_wraper header > div:first-child button {
  background: none;
  border: 0;
  color: #fff;
  margin-top: 12px;
}
/* line 60, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper .castDetails-heder_wraper nav {
  background-color: #2f4975;
}
/* line 64, ../sass/partials/_castDetails.scss */
.castDetails-content_wraper .castDetails-heder_wraper nav a {
  width: 49%;
  text-align: center;
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 99, ../sass/partials/_castDetails.scss */
.cast-details_input {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 0;
  font-size: 16px;
}

@keyframes fadeInDown {
  from {
    opacity: .5;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* line 119, ../sass/partials/_castDetails.scss */
.castDetails-actor_heading {
  background-color: #2f4975;
  color: #fff;
  padding: 0 16px;
  margin: 0;
  margin-top: -4px;
  position: relative;
}
/* line 126, ../sass/partials/_castDetails.scss */
.castDetails-actor_heading h1 {
  font-family: Roboto-Light,HelveticaNeue-Light,HelveticaNeue,sans-serif-light,Arial,sans-serif;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 2px;
  padding-top: 20px;
  position: relative;
  z-index: 1;
  font-weight: normal;
  margin: 0;
  animation-name: fadeInUp;
  animation-duration: .4s;
  animation-fill-mode: both;
}
/* line 140, ../sass/partials/_castDetails.scss */
.castDetails-actor_heading span {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-family: Roboto,HelveticaNeue,Arial,sans-serif;
  font-size: 14px;
  padding-bottom: 20px;
  animation-name: fadeInUp;
  animation-duration: .4s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* line 165, ../sass/partials/_castDetails.scss */
.castDetails-actor_info__wraper {
  padding: 24px;
}

/* line 169, ../sass/partials/_castDetails.scss */
.castDetails-acto_bio {
  color: rgba(0, 0, 0, 0.87);
  line-height: 20px;
  font-size: 14px;
  animation-name: fadeInUp;
  animation-duration: .4s;
  animation-fill-mode: both;
}

/* line 178, ../sass/partials/_castDetails.scss */
.actor-deatils {
  padding: 0;
  animation-name: fadeInUp;
  animation-duration: .4s;
  animation-fill-mode: both;
}
/* line 183, ../sass/partials/_castDetails.scss */
.actor-deatils li {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
/* line 189, ../sass/partials/_castDetails.scss */
.actor-deatils li span {
  color: #70757A;
  font-weight: normal;
}

/* line 1, ../sass/partials/_dropdown.scss */
.dropdown {
  display: inline-block;
  float: right;
  position: relative;
}

/* line 6, ../sass/partials/_dropdown.scss */
.dropdown-content {
  position: absolute;
  background: #fff;
  min-width: 235px;
  width: auto;
  z-index: 105;
  right: 0;
  top: 26px;
  display: none;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
/* line 16, ../sass/partials/_dropdown.scss */
.dropdown-content ul {
  padding: 16px 8px 0 8px;
  margin: 0;
  width: 100%;
}
/* line 20, ../sass/partials/_dropdown.scss */
.dropdown-content ul li {
  display: block;
  list-style: none;
}
/* line 23, ../sass/partials/_dropdown.scss */
.dropdown-content ul li a {
  color: rgba(0, 0, 0, 0.54);
  display: block;
  font-size: 14px;
  padding: 16px 24px 16px 8px;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 1px;
  line-height: 20px;
}
/* line 32, ../sass/partials/_dropdown.scss */
.dropdown-content ul li a i.material-icons {
  float: left;
  margin-right: 10px;
  margin-top: -3px;
}
/* line 40, ../sass/partials/_dropdown.scss */
.dropdown-content.open {
  display: block;
}

/* line 1, ../sass/partials/_movies.scss */
.movies-list {
  display: flex;
  flex-wrap: wrap;
}

/* line 6, ../sass/partials/_movies.scss */
.movies-list_movieWraper {
  background-color: #fff;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  width: 120px;
  box-sizing: border-box;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 17, ../sass/partials/_movies.scss */
.movies-list_movieWraper img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* line 24, ../sass/partials/_movies.scss */
.cast-movies_name {
  display: block;
  font-size: 14px;
  padding: 8px 8px 0 8px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 31, ../sass/partials/_movies.scss */
.cast-movies_year {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding: 4px 8px 16px 8px;
}
