/* line 1, ../sass/app.scss */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* header styling*/
/* line 3, ../sass/partials/_header.scss */
.movie-header {
  background: #66800D;
  color: #fff;
  padding: 16px;
  border-bottom: 1px solid #90a15d;
}

/* line 10, ../sass/partials/_header.scss */
.movie-header_name {
  font-size: 16px;
  margin: 0;
  display: inline-block;
}

/* line 16, ../sass/partials/_header.scss */
.movie-header_moreLinks {
  float: right;
  color: #fff;
  background: none;
  border: 0;
}

/* line 23, ../sass/partials/_header.scss */
.movie-header_info {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 8px;
}

/* line 1, ../sass/partials/_nav.scss */
.movie-topNav {
  background: #566c17;
  padding: 0 16px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
  position: relative;
}

/* line 7, ../sass/partials/_nav.scss */
.movie-topNav_link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 12px;
  padding: 0 8px;
  text-transform: uppercase;
  /*background: green;*/
}

/* line 19, ../sass/partials/_nav.scss */
.nav_activeLink {
  color: #fff;
}

/* line 23, ../sass/partials/_nav.scss */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 28, ../sass/partials/_nav.scss */
.sticky + section {
  padding-top: 100px;
}

/* line 32, ../sass/partials/_nav.scss */
.navbar-indecator {
  height: 3px;
  background: #fff;
  min-width: 20px;
  position: absolute;
  bottom: 0;
  z-index: 99;
  left: 0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

/* line 44, ../sass/partials/_nav.scss */
.tab-content {
  display: none;
  margin-top: 16px;
}

/* line 48, ../sass/partials/_nav.scss */
.tab_active {
  display: block;
}

/* line 1, ../sass/partials/_slider.scss */
.slider {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 8px;
  box-sizing: border-box;
}
/* line 7, ../sass/partials/_slider.scss */
.slider img {
  height: 200px;
  border-radius: 3px;
}

/* line 12, ../sass/partials/_slider.scss */
.img-overlay {
  position: absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  bottom: 0;
  width: 100%;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
  opacity: 1;
}
/* line 28, ../sass/partials/_slider.scss */
.img-overlay.active-img {
  visibility: visible;
  animation-name: zoomIn;
}
/* line 32, ../sass/partials/_slider.scss */
.img-overlay.active-img_out {
  animation-name: zoomOut;
}
/* line 36, ../sass/partials/_slider.scss */
.img-overlay img {
  width: 100%;
}

/* line 40, ../sass/partials/_slider.scss */
.overlay-close {
  position: absolute;
  z-index: 101;
  top: 16px;
  left: 16px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  padding: 4px;
}

/* line 52, ../sass/partials/_slider.scss */
.empty-space {
  height: 200px;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
/* line 1, ../sass/partials/_content.scss */
.movie-content {
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  min-height: 100px;
  margin: 8px;
}

/* line 8, ../sass/partials/_content.scss */
.movie-content_rating {
  display: flex;
  border-bottom: 1px solid #e1e1e3;
}

/* line 12, ../sass/partials/_content.scss */
.movie-content__source {
  padding: 16px;
  flex-grow: 2;
  border-right: 1px solid #e1e1e3;
}
/* line 16, ../sass/partials/_content.scss */
.movie-content__source:last-child {
  border-right: 0;
}

/* line 20, ../sass/partials/_content.scss */
.movie-content__link {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  text-decoration: none;
  font-size: 12px;
}
/* line 25, ../sass/partials/_content.scss */
.movie-content__link span {
  display: block;
  color: #1967D2;
  margin-top: 4px;
}

/* line 32, ../sass/partials/_content.scss */
.movie-content_description {
  border-bottom: 1px solid #e1e1e3;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
}

/* line 38, ../sass/partials/_content.scss */
.movie-deatils {
  padding: 0;
}
/* line 40, ../sass/partials/_content.scss */
.movie-deatils li {
  display: block;
  margin-bottom: 4px;
}
/* line 43, ../sass/partials/_content.scss */
.movie-deatils li span {
  color: #70757A;
}

/* line 48, ../sass/partials/_content.scss */
.movie-footer {
  padding: 16px;
  font-size: 16px;
  text-align: center;
}
/* line 52, ../sass/partials/_content.scss */
.movie-footer a {
  color: #1967D2;
  text-decoration: none;
}

/* line 1, ../sass/partials/_castList.scss */
.movie-cast {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4px 8px;
}

/* line 7, ../sass/partials/_castList.scss */
.movie-cast_actor {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  flex-grow: 1;
  margin: 8px 4px 0;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  width: 100px;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  padding-bottom: 12px;
}
/* line 21, ../sass/partials/_castList.scss */
.movie-cast_actor > div {
  width: 100%;
  height: 100px;
  background: red;
  overflow: hidden;
}
/* line 28, ../sass/partials/_castList.scss */
.movie-cast_actor img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* line 35, ../sass/partials/_castList.scss */
.movie-cast_actorname {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  margin: 8px 8px 4px 8px;
}

/* line 41, ../sass/partials/_castList.scss */
.movie-cast_caractername {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  margin: 0 8px;
}
